.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* --- Ascendants/Descendants table --- */
.ascends_table, .descends_table
{
 border: 1px solid black;
 }

.ascends_table th, .ascends_table td,
.descends_table th, .descends_table td
{
  border: 1px solid black;
  vertical-align: top;
  padding: 4px;
  empty-cells: show;
}

.ascends_table_header th,
.descends_table_header th,
.missing_ancestors_table_header th,
.surname_branch_table_header th,
.list_eclair_table_header th {
  background-color: Khaki;
}
.table-hover tbody tr:hover {
  background-color: LightGoldenrodYellow;
}
.table_big_cell:hover {
  background-color: ivory;
}
.table_big_cell {
  overflow: hidden;
}

.table_big_anchor {
  display: block;
  margin: -10em;
  padding: 10em;
  z-index: 0;
}

.click_through {
  pointer-events: none;
}

.big_anchor {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.big_anchor_1 {
  display: block;
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.big_anchor_1m {
  display: block;
  width: 100%;
  height: 40%;
  position: absolute;
  top: 60%;
  left: 0;
  z-index: 0;
}

.big_anchor_him {
  display: block;
  width: 50%;
  height: 60%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.big_anchor_her {
  display: block;
  width: 50%;
  height: 60%;
  position: absolute;
  text-align: right;
  top: 0;
  left: 50%;
  z-index: 0;
}

.big_anchor_him_m {
  display: block;
  width: 50%;
  height: 40%;
  position: absolute;
  top: 60%;
  left: 0;
  z-index: 0;
}

.big_anchor_her_m {
  display: block;
  width: 50%;
  height: 40%;
  position: absolute;
  top: 60%;
  left: 50%;
  z-index: 0;
}

.normal_anchor {
  position: relative;
  z-index: 1;
}

.fade_image {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .fade_image:hover {
      opacity: 0.7;
      }

.lh_implex{
	line-height: 1;
}

/* Fix navigation buttons to top right corner */
.fixed_top_btn_col {
  position: fixed;
  right: 0px;
  top: 0px;
  transform: translateX(-10px);
  z-index: 1030;
}

.fixed_top_btn_wide {
  transform: translateX(-10px);
}

.fixed_top_btn {
  position: fixed;
  right: 0px;
  top: 0px;
  transform: translateX(-18px);
  z-index: 1030;
}

div.anchor_upd {
  position:absolute;
  top:-40px;
}

/* slowly hide placeholder on input focus */
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}

/* Capitalization unavailable in note from Ocaml 
> temporary disactivated: too intrusive for notes in popovers, but needed for note in timeline...
p::first-letter {
  text-transform: capitalize;
}
*/

.pmod::first-letter {
  font-weight: bold
}

/* Image popover in p_mod */
img.image-popover {
  width: 300px
}

/* “Center” p_mod dropdown in menubar */
.p_mod-dropdown-menu {
  padding: 0px;
  border: 0px;
  left: 38%;
  right: auto;
  transform: translateX(-38%);
}

.p_mod-dropdown-menu-wizard {
  padding: 0px;
  border: 0px;
  left: 25%;
  right: auto;
  transform: translateX(-25%);
}

div.p_mod_builder {
  width: 300px;
}

/* Fixed ancestors image width on perso_module/tree_3gen_photo */
img.image_small_size {
  height: 70px;
}

span.image_small_size {
  border-style: solid;
  border-width: thin;
  font-size: 2.7rem;
  font-weight: 320
}

/* Fixed image size (width) on perso_module/parents and unions */
.big_image{
  width: 8.5rem;
}

.small_image{
  width: 4rem;
}

.noimage {
  border-style: solid;
  border-width: thin
}

/* Fix dag line height */
table#dag {
  line-height: 1.05
}

/* Sex symbol color */
.male {
  color: #318CE7;
}

.male:hover {
  color: #014c8c;
}
.female {
  color: #F653A6;
}
.female:hover {
  color: red;
}
.neuter{
  color: grey;
}
.neuter:hover {
  color: black;
}

/* Fixed width button in books indexes using monospace font */
a.book-char{
  font-family: monospace, monospace;
}

/* Fix noword-wrap on long a href */
a {
  word-wrap: break-word
}

/* Welcome language dropdown scrollable */
.scrollable-lang {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

.scrollable-lang.short {
  max-height: 160px;
}


/* Cancel empty margin-left of Bootstrap <dl> */
dl {
  margin-left: 1.3rem;
}

/* Fix tree and pre line-height */
.tree-vert {
  line-height: 1.2rem;
}

pre {
  line-height:0.9rem;
  zoom:100%;
}
pre a:hover{
  background-color: #FAFA9A;
}
pre a:link, a:visited, a:hover, a:active, a:focus{
  text-decoration: none;
}

/* Properties to highlight words generated by GeneWeb. All pages.*/
.highlight
{
  color: #2f6400;
  font-weight: bold;
}

.error
{
  color: #9c1117;
}

.with_picto
{
  background-repeat: no-repeat;
  background-position: left center;
  padding: 4px 4px 4px 20px;
}

.reference
{
  font-size:80%;
  font-style:italic;
}

.odd
{
  background-color: #FBFBFB;
}

.even
{
  background-color: transparent;
}

/* Properties for the unvisited, visited and mouse over links. All pages. */
a:link.highlight
{
  color: #2f6400;
}

a:visited.highlight
{
  color: #2f6400;
}

a:hover.highlight
{
  color: #2f6400;
}

a:link.date
{
  text-decoration: none;
  color: black;
  background-color: transparent;
}

a:visited.date
{
  text-decoration: none;
  color: black;
  background-color: transparent;
}

a:hover.date
{
  text-decoration: none;
  color: black;
  background-color: transparent;
}

/* Properties of the trailer block. All pages. */
#trl
{
 text-align: left;
 margin-left: auto;
 margin-right: auto;
 margin-top : 40px;
}

#trl ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#trl ul li { display: inline; }

#trl ul li a
{
  text-decoration: none;
  padding: .2em 1em;
  color: #fff;
  background-color: #2f6400;
}

#trl ul li a:hover
{
  color: #fff;
  background-color: #4A9900;
}


/* Properties of the title block. All pages. */
#title
{
 padding-top: 10px;
 width: 100%;
 background-color: #e7edb3;
}

/* Properties of the lang block. Page welcome.txt */
#lang
{
  /*text-align: center;*/
}

/* Properties of the logo block. Page welcome.txt */
#logo
{
 float: left;
 width: 160px;
}

/* Properties of the acces block. Page welcome.txt, perso.txt */
/* The border property is exported in the template            */
/* so that the acces menu is not visible if there             */
/* no password defined for wizard or friends                  */
#acces
{
 float: right;
 width: 160px;
 height: 65px;
 margin-right: 10px;
 text-align: center;
}

#acces>ul
{
 padding: 0px;
 padding-top: 5px;
 margin: 0px;
 list-style-type: none;
}

/* Properties of the title in the acces block. Page welcome.txt */
#acces h3
{
 text-align: left;
 background-color: #6f8301;
 color: white;
 margin: 0;
}

/* Properties of the search block. Page welcome.txt */
#search
{
 width: 750px;
 border: solid 2px #6f8301;
 text-align: left;
 margin-left: auto;
 margin-right: auto;
}

/* Properties of the title in the search block. Page welcome.txt */
#search h3
{
 margin: 0;
 text-align: left;
 background-color: #6f8301;
 color: white;
}

/* Properties of the form in the search block. Page welcome.txt */
#search form
{
 margin-top: 10px;
 margin-left: 10px;
}

/* Display the "title and estate" search in  */
/* one line (search block). Page welcome.txt */
#form-titles div
{
  float: left;
  margin-right: 3px;
}

/* "title and estate" search in block search. Page welcome.txt */
#content fieldset
{
  border: 0;
}

/* Properties of the misc block. Page welcome.txt          */
/* Trick : to center easily this block, one must add the   */
/* following properties : align, margin-left, margin-right */
/* and the trick : overflow: auto.                         */
#misc
{
 width: 750px;
 border: solid 2px #6f8301;
 text-align: left;
 overflow: auto;
 margin-left: auto;
 margin-right: auto;
}

/* Properties of the title in the misc block. Page welcome.txt */
#misc h3
{
 margin: 0;
 text-align: left;
 background-color: #6f8301;
 color: white;
}

/* Properties of the tools block. Page welcome.txt         */
/* Trick : to center easily this block, one must add the   */
/* following properties : align, margin-left, margin-right */
/* and the trick : overflow: auto.                         */
#tools
{
 width: 750px;
 border: solid 2px #6f8301;
 text-align: left;
 overflow: auto;
 margin-left: auto;
 margin-right: auto;
}

/* Properties of the title in the tools block. Page welcome.txt */
#tools h3
{
 margin: 0;
 text-align: left;
 background-color: #6f8301;
 color: white;
}


/* Menu ascendance descendance commun */
div.menu_anc_des {
background-repeat:repeat-x;
position:relative;
top:-15px;
margin:0;
padding:0;
}

div.menu_anc_des div.menu {
border-width:1px;
border-style:solid;
border-radius:10px;
width:250px;
float:left;
margin:25px 15px 25px 15px;
background-color:white;
background-position:0 100%;
background-repeat:repeat-x;
}

div.menu_anc_des div.menu ul {
padding:0;
padding-left:5px;
list-style-type:none;
}

div.menu_anc_des div.menu ul li{
padding:5px;
}

div.menu_anc_des div.menu h2 {
margin:10px;
}

div.menu_anc_des_example {
text-align:center;
display:none;
padding:25px 15px 25px 15px;
}

div.menu_anc_des_example span{
padding-top:15px;
display:block;
}

div.menu_anc_des_example img{
box-shadow:5px 5px 5px #cdc3c6;
}



/* Properties of the navigation block. Page perso.txt      */
/* Trick : to center easily this block, one must add the   */
/* following properties : align, margin-left, margin-right */
/* and the trick : overflow: auto.                         */
#navigation
{
 width: 750px;
 border: solid 2px #6f8301;
 text-align: left;
 overflow: auto;
 margin-left: auto;
 margin-right: auto;
 margin-top : 40px;
}

/* Properties of the title in the navigation block. Page perso.txt */
#navigation h3
{
 text-align: left;
 background-color: #6f8301;
 color: white;
 margin: 0;
}

/* list_left and list_right allow to display lists in 2 columns.     */
/* It's applied in the welcome.txt page: "other option" block and    */
/* in the perso.txt page: "navigation" block.                        */
/* width specify that this block is half of its parent's block and   */
/* float specify the position of the list (relative to the parents). */
/* The text-align property is inherited by the parent's block.       */
#list_left
{
 width: 45%;
 float: left;
}

#list_right
{
 width: 45%;
 float: right;
}

/* perso.txt page: "navigation" block. */
.li_left
{
 width: 25%;
 float: left;
}

/* Listes ascendance */
/* sans parent */
li.noway
{
  list-style-type: circle;
}
/* avec parents */
li.goway
{
  list-style-type: disc;
}

/* liste descendance */
/* sans conjoint */
li.nospou
{
  list-style-type: circle;
}
/* avec conjoint, sans descendance */
li.nodesc
{
  list-style-type: disc
}
/* avec descendance */
li.desc
{
  list-style-type: square;
}

/* Propositions de couleur de background dans certains menus */
.bg1
{
  background-color: #FFC0C0;
}
.bg2
{
  background-color: #FFFFC0;
}
.bg3
{
  background-color: #C0FFC0;
}
.bg4
{
  background-color: #C0FFFF;
}
.bg5
{
  background-color: #C0C0FF;
}
.bg6
{
  background-color: #FFC0FF;
}


/* --------------------------- Pyramide des âges -------------------------- */

.pyramid_year
{
  font-style: italic;
}

.pyramid_nb
{
  font-style: italic;
}


/* --------------------------------- wiki -------------------------------- */

#summary
{
  border: ridge 3px #844404;
}

div.summary ul
{
  padding-left: 0;
  list-style-type: none
}

div.summary ul ul
{
  padding-left: 1.618em
}

.subtitle
{
  border-bottom: solid 1px #844404;
}

.found
{
  color: black;
  background-color: #afa;
  font-weight:bold
}


/* ------------------------------ Biographie ----------------------------- */

#bio_block
{
  padding:9px;
  text-align:justify;
  text-indent:18px;
  font-size:1.1em;
}

#bio_block h6
{
  width:50%;
  border:3px double #2f6400;
  padding:3px;
  text-align:left;
  font-size:1.4em;
}

#bio_block hr
{
  height:3px;
  color:#2f6400;
}

#bio_block :first-letter
{
  font-weight:900;
  font-size:1.2em;
  color:#2f6400;
}

#bio_right
{
  float:right;
  border:#2f6400 solid 3px;
  margin:12px;
  padding:6px;
  text-align:center;
  text-indent:0px;
  font-size:0.9em;
}

#bio_left
{
  float:left;
  border:#2f6400 solid 3px;
  margin:12px; padding:6px;
  text-align:center;
  text-indent:0px;
  font-size:0.9em;
}




/* ---------------------------- perso_short.txt --------------------------- */

.fp_ul_summary
{
  list-style: none;
  padding-left: 0px;
}
.fp_ul_summary > li
{
  padding: 5px;
}
.page_max
{
  width: 864px;
}
/*
.fp_date_empty
{
  border: solid 1px #999999;
  width: 60px;
  display: block;
}
*/
.fp_table
{
  width: 100%;
  margin-top: 10px;
}
.fp_table th
{
  background-color: #00794C;
  color: white;
  font-weight: bold;
  font-size: 120%;
  text-align: left;
  padding-left: 5px;
}
.fp_table td
{
  padding: 5px;
}
.fp_person
{
  width: 100%;
  border: solid 2px #00794C;
}
.fp_person_info
{
  margin: 0px;
  padding: 0px;
}
.fp_person_info_ul
{
  list-style-type: none;
  padding : 0px;
  margin: 0px;
}
.fp_person_info_ul li
{
  padding : 5px;
}
.fp_person_info_ul > li > hr
{
  border-top: solid 1px #998C90;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  margin:0;
}
.fp_grey td
{
  color: #998C90;
  border-bottom: solid 1px #00794C;
  font-weight: bold;
  padding: 2px;
}
.fp_grey_italic
{
  color: #998C90;
  font-style: italic;
  font-weight: bold;
}
.fp_table_parent
{
  width: 100%;
  margin-top: 10px;
}
.fp_table_parent th
{
  background-color: #00794C;
  color: white;
  font-weight: bold;
  font-size: 120%;
  text-align: left;
  padding-left: 5px;
}
.fp_table_parent td
{
  padding: 5px;
}
.fp_table_siblings
{
  width: 100%;
  margin-top: 10px;
}
.fp_table_siblings tr td
{
  padding: 5px;
}
.fp_table_siblings th
{
  background-color: #00794C;
  color: white;
  font-weight: bold;
  font-size: 120%;
  text-align: left;
  padding-left: 5px;
}
.table_content_siblings > td
{
  padding: 2px;
  padding-left: 0px;
  border-top: solid 1px #F0ECED;
}
.fp_half_siblings
{
  background-color: #F0ECED;
  font-weight: bold;
}
.table_content_odd > td
{
  background-color: #F0ECED;
}
.fp_table_relations
{
  width: 100%;
  margin-top: 10px;
}
.fp_table_relations tr td
{
  padding: 5px;
}
.fp_table_relations th
{
  background-color: #00794C;
  color: white;
  font-weight: bold;
  font-size: 120%;
  text-align: left;
  padding-left: 5px;
}
.table_content_relations > td
{
  padding: 2px;
  padding-left: 0px;
  border-top: solid 1px #F0ECED;
}
.fp_table_marriage
{
  width:100%;
  margin-top: 10px;
}
.fp_table_marriage th
{
  background-color: #00794C;
  color: white;
  font-weight: bold;
  font-size: 120%;
  text-align: left;
  padding-left: 5px;
}
.fp_table_marriage td
{
  padding: 5px;
}
.fp_table_marriage table{
  width:100%;
}
.fp_marriage_notes
{
  width: 100%;
  margin-top: 10px;
}
.fp_marriage_notes td
{
  padding: 10px;
}
.fp_marriage_notes td,
.fp_notes
{
  background-color: #F0EDEE;
}
.fp_marriage_notes span
{
  color: #00794A;
  font-weight: bold;
}
.fp_family_separator
{
  width: 100%;
  border-top-width: 3px;
  border-top-style: double;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  margin:0;
}
.fp_table_children
{
  width: 100%;
}
.fp_table_children td
{
  padding: 5px;
}
.fp_source
{
  margin: 0px;
  padding-left: 20px;
}
.fp_source > li
{
  padding: 2px;
}

/* ------------------ Display by branch/alphabetic order ------------------ */

table.display_search
{
 border:2px solid #F0ECED;
}


/* --------------------------------- Tips --------------------------------- */

div.tips {
 padding:0px 0px 0px 50px;
 min-height:50px;
 background-color:#E7EDB3;
 background-position:5px center;
 background-repeat: no-repeat;
 margin-right:60px;
}

div.tips table {
 height:50px;
 margin:0;
 color: #514549;
}

div.tips table td{
 vertical-align:middle;
}


/* ----------------------- Simulate a select button ----------------------- */

div.select
{
  display:inline-block;
  position:relative;
  border:1px solid #E7ED83;
  background-color:#6F8301;
  cursor:pointer;
  z-index:1;
  padding-right:5px;
  padding-left:4px;
}

div.select > span
{
  background-position:center right;
  background-repeat:no-repeat;
  padding-right:18px;
  display:inline-block;
  background-color:#6F8301;
  color:white;
  font-weight:bold;
  text-align:left;
  width:200px;
  padding-top:6px;
  padding-bottom:4px;
}

div.select ul
{
  position:absolute;
  display:none;
  margin:0px;
  padding:0px;
  top:24px;
  white-space:nowrap;
  text-align:left;
  background-color:white;
  left:-1px;
  border:1px solid #6F8301;
}

div.select ul li
{
  margin:0;
  line-height:20px;
  list-style-type:none;
}

div.select ul li.title
{
  background-color:#E7ED83;
  padding-left:5px;
  font-weight:bold;
}

div.select ul a
{
  color:black;
  display:block;
  padding-left:5px;
  padding-right:5px;
  width:217px;
  text-decoration:none;
}

div.select ul a
{
  color: #2F6400;
}

div.select ul a:hover
{
  text-decoration:underline;
}

div.select:hover
{
  border:1px solid #6F8301;
}

div.select:hover ul
{
  display:block;
  z-index:100;
}

/* ----------------------------- Relationship ----------------------------- */

#rel_form_search, #rel_form_cousin, #rel_form_shortcut, #rel_options
{
  margin: 10px;
}

#rel_search_content, #rel_cousin_content
{
  margin-left: 25px;
}

#rel_search
{
  float: left;
  width:45%;
  padding-right:10px;
}

#rel_form_search span
{
  font-weight:bold;
}

#rel_search_title
{
  font-weight:bold;
}

#rel_form_search ul
{
  list-style-type: none;
  margin:0;
  padding:0;
}

#rel_cousin_title
{
  font-weight:bold;
}

#rel_form_cousin span
{
  font-weight:bold;
}

#rel_form_shortcut span
{
  font-weight:bold;
}

#rel_form_shortcut ul
{
  list-style-type: none;
  margin:0;
  padding:0;
}

/* --- Ascendants/Descendants trees --- */
table hr
{
  border-top: solid 1px black;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  margin:0;
}

hr.left
{
  margin-left:0;
  margin-right: 50%;
  width: 50%;
}

hr.right
{
  margin-left: 50%;
  margin-right: 0;
  width: 50%;
}

hr.full
{
  margin-left: 0;
  margin-right: 0;
}

/* --- Ascendants/Descendants liste rédigée --- */
.asc_notes_src_inline, .desc_notes_src_inline
{
  padding-left:15px;
}

/* --- Ascendants --- */
.list_eclair_table
{
  border-width:1px;
  border-style:solid;
  border-collapse:collapse;
}

.list_eclair_table th,
.list_eclair_table td
{
  border:1px solid black;
  vertical-align:top;
  padding:2px;
}

.surname_branch_sort
{
  float:left;
  list-style-type: none;
  padding-left: 0;
}

ul.surname_branch_sort > li
{
  margin-bottom:15px;
}

.surname_branch_table
{
  border-width:1px;
  border-style:solid;
  border-collapse:collapse;
}

.surname_branch_sort .surname_branch_table
{
  width:100%;
}

.surname_branch_table th,
.surname_branch_table td
{
  border:1px solid black;
  vertical-align:top;
  padding:2px 4px;
}

.missing_ancestors_sort
{
  float:left;
  list-style-type: none;
  padding-left: 0;
}

ul.missing_ancestors_sort > li
{
  margin-bottom:15px;
}

.missing_ancestors_table
{
  border-width:1px;
  border-style:solid;
  border-collapse:collapse;
}

.missing_ancestors_sort .missing_ancestors_table
{
  width:100%;
}

.missing_ancestors_table th,
.missing_ancestors_table td
{
  border:1px solid black;
  vertical-align:top;
  padding:2px;
}

.missing_ancestors_table th.missing_parent,
.missing_ancestors_table th.missing_spouse
{
  width:100px;
  text-align:center;
}

/* --- Descendants --- */
.descends_aboville_pipe
{
  border-left: 1px solid;
  padding-left: 10px;
}

/* adjust also colors in destable.txt */
.note, .implex, .source, .notesource, .notespouse, .sourcespouse, .notesourcespouse {
    position: relative;
}
.note:after, .implex:after, .source:after, .notesource:after, .notespouse:after, .sourcespouse:after, .notesourcespouse:after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    display: block;
    border-bottom: 12px solid transparent;
}
.implex:after {
    right: 0;
    border-left: 12px solid transparent;
    border-top: 12px solid #87CEFA;
}
.note:after {
    right: 0;
    border-left: 12px solid transparent;
    border-top: 12px solid #87CEFA;
}
.source:after {
    right: 0;
    border-left: 12px solid transparent;
    border-top: 12px solid #FFD700;
}
.notesource:after {
    right: 0;
    border-left: 12px solid transparent;
    border-top: 12px solid #90EE90;
}
.notespouse:after {
    left: 0;
    border-right: 12px solid transparent;
    border-top: 12px solid #87CEFA; 
}
.sourcespouse:after {
    left: 0;
    border-right: 12px solid transparent;
    border-top: 12px solid #FFD700;
}
.notesourcespouse:after {
    left: 0;
    border-right: 12px solid transparent;
    border-top: 12px solid #90EE90;
}
span.notecolor {
    color: #87CEFA;
}
span.sourcecolor {
    color: #FFD700;
}
span.notesourcecolor {
    color: #90EE90;
}
.popover{
    word-wrap: break-word;
    max-width: 40%;
}