*.annot
*.cmo
*.cma
*.cmi
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.ppo
distribution

ged2gwb/ged2gwb
ged2gwb/ged2gwb.opt
ged2gwb/ged2gwb2
ged2gwb/ged2gwb2.opt

gwb2ged/gwb2ged
gwb2ged/gwb2ged.opt

gwtp/gwtp
gwtp/gwtp.opt

setup/gwsetup
setup/setup.opt

src/compilation.ml
src/gwlib.ml

src/check_base
src/check_base.opt
src/consang
src/consang.opt
src/gwc
src/gwc1
src/gwc1.opt
src/gwc2
src/gwc2.opt
src/gwd
src/gwd.opt
src/gwu
src/gwu.opt
src/update_nldb
src/update_nldb.opt

tools/Makefile.inc
tools/Makefile.ocaml

api/service/convert_dico_place.opt
api/service/lib/piqilib/.gitignore
api/gwd_api
api/gwd_api.opt

contrib/gwFix/gwFixBase
contrib/gwFix/gwFixBase.opt
contrib/gwFix/gwFixBurial
contrib/gwFix/gwFixBurial.opt
contrib/gwFix/gwFixEvtSrc
contrib/gwFix/gwFixEvtSrc.opt
contrib/gwFix/gwFixFromFile
contrib/gwFix/gwFixFromFile.opt
contrib/gwFix/gwFixFromFileAlias
contrib/gwFix/gwFixFromFileAlias.opt
contrib/gwFix/gwFixFromFileDomicile
contrib/gwFix/gwFixFromFileDomicile.opt
contrib/gwFix/gwFixColon
contrib/gwFix/gwFixColon.opt
contrib/gwpublic/gwiftitles
contrib/gwpublic/gwprivate
contrib/gwpublic/gwpublic1
contrib/gwpublic/gwpublic2
contrib/gwpublic/gwpublic2priv
contrib/history/convert_hist
contrib/history/fix_hist
contrib/history/is_gw_plus
contrib/lex/.depend
contrib/lex/log_lex
contrib/lex/log_msg
contrib/misc/lower_string
contrib/oneshot/gwBaseCompatiblePlus
contrib/oneshot/gwExportAscCSV
contrib/oneshot/gwFixDateText
contrib/oneshot/gwRemoveImgGallery
contrib/wrap/consang
contrib/wrap/ged2gwb
contrib/wrap/ged2gwb2
contrib/wrap/gwb2ged
contrib/wrap/gwc1
contrib/wrap/gwc2
contrib/wrap/gwiftitles
contrib/wrap/gwprivate
contrib/wrap/gwpublic1
contrib/wrap/gwpublic2
contrib/wrap/gwpublic2priv
contrib/wrap/gwu
contrib/wrap/update_nldb
