skip_commits:
  files:
    - CHANGES
    - ICHANGES
    - etc/
    - geneweb.opam
    - .gitignore
    - hd/
    - INSTALL
    - LICENSE
    - README.md
    - man/
    - .travis.yml

platform:
  - x64

environment:
  CYG_ROOT: C:/cygwin64
  CYG_BASH: '%CYG_ROOT%/bin/bash -lc'
  OPAM_PACKAGES: 'benchmark camlp5 cppo dune.1.11.4 markup num ocaml ounit stdlib-shims unidecode.0.2.0 uucp uutf zarith'

install:
  - 'set OPAMYES=1'
  - 'set PATH=%PATH%;%CYG_ROOT%\usr\x86_64-w64-mingw32\sys-root\mingw\bin'
  - '%CYG_ROOT%\setup-x86_64.exe -qnNdO -R %CYG_ROOT% -s http://cygwin.mirror.constant.com -l %CYG_ROOT%/var/cache/setup -P rsync -P patch -P diffutils -P unzip -P m4 -P mingw64-x86_64-gcc-core -P mingw64-x86_64-gmp'
  - '%CYG_BASH% "curl -fsSL -o opam64.tar.xz https://github.com/fdopen/opam-repository-mingw/releases/download/0.0.0.2/opam64.tar.xz"'
  - '%CYG_BASH% "tar -xf opam64.tar.xz && opam64/install.sh"'
  - '%CYG_BASH% "opam init -a mingw https://github.com/fdopen/opam-repository-mingw.git#opam2 -c 4.09.0+mingw64c --disable-sandboxing"'
  - '%CYG_BASH% "opam install ${OPAM_PACKAGES}"'
  - '%CYG_BASH% "eval $(ocaml-env cygwin)"'

build_script:
  - '%CYG_BASH% "cd ${APPVEYOR_BUILD_FOLDER} && BENCH_FILE=geneweb-bench.tmp.bin make ci"'
  - '%CYG_BASH% "cd ${APPVEYOR_BUILD_FOLDER} && ocaml ./configure.ml && make clean distrib"'
  - 7z a geneweb.zip %APPVEYOR_BUILD_FOLDER%\distribution
  - '%CYG_BASH% "cd ${APPVEYOR_BUILD_FOLDER} && ocaml ./configure.ml --sosa-zarith && make clean distrib"'
  - 7z a geneweb-zarith.zip %APPVEYOR_BUILD_FOLDER%\distribution

artifacts:
  - path: geneweb.zip
    name: GeneWeb with default options
  - path: geneweb-zarith.zip
    name: GeneWeb with --sosa-zarith option
