name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:

  build:

    strategy:

      fail-fast: true

      matrix:

        ocaml-version:
          - 4.14.0
          - 4.13.1
          - 4.12.1
          - 4.11.2
          - 4.10.2
          - 4.09.1
          - 4.08.1

    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-version }}
        uses: avsm/setup-ocaml@v1
        with:
          ocaml-version: ${{ matrix.ocaml-version }}

      - run: sudo apt-get update

      - run: opam pin add geneweb.dev . --no-action

      - run: opam depext geneweb --yes

      - run: opam install geneweb --deps-only

      - run: opam exec -- make ci
